header {
  position: static;
}

body {
  background: linear-gradient(30deg, rgb(72, 72, 72), rgb(42, 41, 41));
  color: rgb(64, 63, 63);
}

#page-logo a,nav li a {
  color: aqua;
}

nav li a:hover {
  color: #3d3c3c;
  background-color: rgb(218, 249, 249);
}

#side-drawer li a:hover {
  background-color: rgb(7, 223, 223);

}

.menu-btn {
  color: #fff;
}

.menu-btn :hover{
 color: aqua;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75rem;
  margin: 0 auto 3rem auto;
  gap: 20px 20px;
}

li:nth-of-type(3), li:nth-of-type(8){
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 19rem;
  height: 19rem;
  object-fit: cover;
}

.destination-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.destination-content h2 {
  margin: 0;
}

.action {
  text-align: right;
}

.action a {
  padding: 0.4rem;
  color: rgb(2, 251, 251);
  border-radius: 6px;
}

.action a i {
  text-align:center;
}

.action a:hover {
  background-color: rgb(218, 249, 249);
}