#hero {
  height: 800px;
  background-image: url("/images/ocean.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 70%;
  background-color: rgba(49, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  background-color: #ffff00;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
}

#hero-content a:hover {
  background-color: #9c9c06;
}

#highlights {
  padding: 24px;
  background: linear-gradient(0deg, #b7f6f2, #b2e6e6);
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(80, 79, 79);
  margin: 24px 0;
}

#places {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination {
  margin: 0 20px;
}

.destination img {
  width: 100%;
  height: 200px;
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(132, 130, 130);
  margin: 20px 0;
}

.destination span {
  font-weight: bold;
  color: #07c446;
}
